/**BASE**/

* {
	margin:0;
	padding:0;
}

*,
::before, ::after {
	box-sizing: inherit;
}

a {
	color: $primary;
	text-decoration:none;
	cursor: pointer;
	&:hover {
		color: $primaryDark;
	}
}

hr {
	background-color: #fff;
	border-top: 0.4rem dotted $textLight;
	margin-bottom: 2rem;
	margin-top: 2rem;
}

canvas {
	border: 1px solid !important;
}

.dark {
	background-color:#212121;
	color:white;
	h2 {
		font-size: 4.8rem;
		font-style: italic;
	}
	.underline--magical {
		color:black;
	}
}