/**BASE**/

* {
	margin:0;
	padding:0;
}

*,
::before, ::after {
	box-sizing: inherit;
}

a {
	color: $primary;
	text-decoration:none;
	cursor: pointer;
	&:hover {
		color: $primaryDark;
	}
}

hr {
	background-color: #fff;
	border-top: 0.4rem dotted $textLight;
	margin-bottom: 1.6rem;
	margin-top: 1.6rem;
}