/**TYPOGRAPHY**/

/* Define the "system" font family */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 400;
  

  src: local(-apple-system), local(BlinkMacSystemFont),
    local("Segoe UI"), local("Roboto"), local("Oxygen"),
    local("Ubuntu"), local("Cantarell"), local("Fira Sans"),
    local("Droid Sans"), local("Helvetica Neue"), sans-serif;
}

/* Now, let's apply it on an element */
body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  color: $text;
}

#app {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  font-size:1rem;
  color:$text;
}

html {
  font-size:62.5% !important;

  @include respond(phone) {
    font-size:55% !important;
  }
}
p {
  margin-bottom: 1rem;
}
p, ul, li {
  font-size: 1.7rem;
}

h1, .h1 {
  font-size: 4.8rem;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 0.8rem;
  //text-transform: uppercase;
}

h2, .h2 {
  font-size: 4rem;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 1rem;
  //text-transform: uppercase;
}

h3, .h3 {
  font-size: 2.4rem;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 0.6rem;
  color:$textLight;
  font-family: 'Bebas Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  letter-spacing: 0.3rem;
}

h4, .h4 {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 0.4rem;
  //text-transform: uppercase;
}

.color-primary {
  color:$primary;
}

.color-secondary {
  color:$secondary;
}

.italic, em {
    font-style: italic;
  }
.caption {
  font-size: 1rem;
}
strong {
  font-weight:700;
}
.pullquote {
  font-size: 6rem;
  color:$textLight;
  padding-left:3rem;
}
label {
  display: block;
  margin-bottom: 0.4rem;
  margin-top: 2rem;
  font-weight: 700;
  font-size: 1.7rem;
  margin-left: 0.6rem;
}
input {
  font-size: 1.4rem;
  font-weight: 500;
}

.gradient {
  @include gradient;
}
.callout {
  p {
    font-size:2.4rem;
  }
  h2 {
    font-weight: 700;
  }
}

.item__overlay--motion {
  h3, .h3 {
    color:white !important;
  }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $textLight;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $textLight;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $textLight;
}
