/*Transitions*/
.fade-enter {
	opacity:0;
}
.fade-leave-active,
.fade-enter-active {
	transition: opacity 0.2s ease-out;
}
.fade-leave-to {
  opacity: 0;
}

/*Animations*/

.rect1 {
	position: absolute;
	top: 10vh;
	left:10vw;
	background-color: $strans2;
	width: 30vw;
	height: 10vw;
	z-index: 3;
	animation: rect-in 1s 1s both;
}

.circle1 {
	position: absolute;
	bottom:20vh;
	right:5vw;
	background-color: $ptrans3;
	width: 20vw;
	height: 20vw;
	border-radius: 50%;
	z-index: 2;
	animation: circle-in1 1s 2s both;
}

.circle2 {
	position: absolute;
	bottom:-10vh;
	right:5vw;
	background-color: white;
	width: 14vw;
	height: 14vw;
	border-radius: 50%;
	z-index: 4;
	animation: circle-in2 2s 2s both;
}

@keyframes circle-in1 {
	0% {
		transform: translateX(25vw);
		width: 10vw;
		height: 10vw;
		opacity: 0;
	}

	100% {
		transform: translateX(0vw);
		width: 20vw;
		height: 20vw;
		opacity:1;
	}
}

@keyframes circle-in2 {
	0% {
		opacity: 0;
	}

	100% {
		opacity:0.9;
	}
}

@keyframes rect-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity:1;
	}
}