/*MIXINS*/

@mixin container {
	max-width:1100px;
	margin:auto;
	height: 100%;
	padding:1.6rem;
	display: block;
	@include respond(desktop) {
		width:80%;
	}
	@include respond(tablet-land) {
		width:90%;
	}
	@include respond(phone) {
		width:calc(100% - 4rem);
	}
}

@mixin upfix {
	margin-top: -20vh;
	@include respond(tablet-land) {margin-top: -16vh;}
	@include respond(tablet-port) {margin-top: -8vh;}
	@include respond(phone) {margin-top: 2rem;}
}

@mixin gradient {
	background:linear-gradient(120deg, $secondaryLight 0%, $primaryLight 100%);
  display: block;
  //-webkit-background-clip:text;
  //color:transparent;
}

@mixin form {
	max-width: 64rem;
	margin: 2rem auto;
}
@mixin box {
	border: solid;
	border-image-slice: 1;
	border-width: 1.6rem;
	border-image-source: linear-gradient(to right, $primary, $secondary);
}

@mixin gradline {
	border-bottom: solid;
	border-image-slice: 1;
	border-width: 1.2rem;
	border-image-source: linear-gradient(to right, $primary, $secondary);
}

@mixin grid-container {
	//@include container;
	display: grid;
	grid-template-rows: repeat(3, minmax(32rem, min-content));
  grid-template-columns: 1fr 1fr 1fr;
 	grid-auto-flow:row dense;
	grid-gap:1rem;
	align-items:stretch;
	@include respond(tablet-port) {
		grid-template-rows: repeat(5, 20rem);
		grid-template-columns: 1fr 1fr;
	}
}

@mixin product-grid {
	@include grid-container;
	grid-template-rows: repeat(2, minmax(min-content, min-content));
	grid-template-columns: 1fr 1fr;
	@include respond(tablet-port) {
		grid-template-rows: repeat(2, minmax(min-content, min-content));
		grid-template-columns: 1fr 1fr;
	}
	&--item {
		background-color: white;
    overflow: hidden;
    display: flex;
    align-items: center;
    height:auto;
		img {
			min-height:100%;
			width: 100%;
			height: auto;
			object-fit: contain;
		}
	}
}

@mixin content-wrapper {
	background:white;
	margin-bottom:6rem;
	margin: 4rem 10vw;
	padding:0 2rem;
	@include respond(tablet-port) {
		margin: 4rem 3vw;
	}
	@include respond(phone) {margin: 4rem 0;}
}

@mixin slide-image {
  position: absolute;
  height: 100%;
  min-width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
}
@mixin nav-container {
	max-width:1400px;
	margin:auto;
	padding: 1rem 2rem;
	height: 100%;
	@include respond(phone) {
    padding:0 2rem;
  }
}

@mixin button {
	background-color: white;
  border-radius: 0;
  letter-spacing: -0.02rem;
  border: none;
  font-family: 'Bebas Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  padding: .6rem 1.2rem;
  letter-spacing: 0.24rem;
  font-size:1.4rem;
  font-weight: 400;
  transition: all .3s;
	display:inline-block;
	color:inherit;
	text-transform: uppercase;
}

@mixin card {
	border-radius: 0;
	background:white;
	min-height: 10rem;
	&__body {
		padding:1rem 2rem 2rem 2rem;
		margin: 0 !important;
	}
	&__image {
		min-height: 24rem;
		img {
			border-radius:6px 6px 0 0;
			-webkit-clip-path: ellipse(92% 70% at 50% 20%);
  		clip-path: ellipse(92% 70% at 50% 20%);
  		width:100%;
  		object-fit: cover;
  		height: 100%;
  		height: 24rem;
		}
	}
}

@mixin icon-mark () {
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1366 768"><path class="st0" d="M393,673.9c0-193.3,0-386.5,0-579.9c193.5,0,387.1,0,580.9,0c0,2.9,0,5.8,0,8.7c0,188.6,0,377.3,0.1,565.9c0,4.7-1.3,5.4-5.6,5.4C776.6,673.9,584.8,673.9,393,673.9z" /> </svg>');
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path style="fill:#000000;" d="M0 50l50,50 50,-50 -10,-10 -40,40 -40,-40z" /></svg>');
}


@mixin shadow {
	box-shadow: 0 0.8rem 1.6rem -.6rem rgba(0,0,0,.4);
}

@mixin shadow-large {
	box-shadow: 0 1.2rem 2.4rem -.6rem rgba(0,0,0,.6);
}

@mixin text-shadow {
	text-shadow: 0.2rem 0.2rem 1.6rem $dark;
}

@mixin hero {
	min-height: 48vh;
	//background-image:linear-gradient(180deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('https://firebasestorage.googleapis.com/v0/b/vericool-53dd0.appspot.com/o/TreesUp.jpg?alt=media&token=7c7e227f-550f-443a-b42e-6adb00e3addc');
	background-image:linear-gradient(180deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('https://firebasestorage.googleapis.com/v0/b/vericool-53dd0.appspot.com/o/Carousel%2Fshutterstock_208368145-min.jpg?alt=media&token=d37ca7a9-6df2-4d0a-a723-21d6a8fb7346');
	background-position:center center;
	background-size:cover;
	background-repeat:no-repeat;
	color: white;
	//border-bottom: solid;
	//border-image-slice: 1;
	///border-width: 1.2rem;
	//border-image-source: linear-gradient(to right, $primary, $secondary);
	.container {
		height:48vh;
		display: flex;
		align-items: center;
	}
	&-text {
		margin-top: 12rem;
		text-align: center;
  	width: 100%;
	}
}

@mixin magic  {
  background-image: linear-gradient(120deg, $secondaryLight 0%, $primaryLight 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2rem;
  background-position: 0 88%;
  transition: background-size 0.5s ease-in;
  &:hover {
    background-size: 100% 88%;
  }
  animation: under 5s 0.1s both;
}

@mixin magic-fast  {
  background-image: linear-gradient(120deg, $secondaryLight 0%, $primaryLight 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2rem;
  background-position: 0 88%;
  transition: background-size 0.5s ease-in;
  &:hover {
    background-size: 100% 88%;
  }
  animation: under 0.5s 0.1s both;
}

@mixin respond ($breakpoint) {
	@if $breakpoint == phone {
		@media (max-width: 37.5em) { @content }; //600px
	}
	@if $breakpoint == tablet-port {
		@media (max-width: 56.25em) { @content }; //900px
	}
	@if $breakpoint == tablet-land {
		@media (max-width: 75em) { @content }; //1200px
	}
	@if $breakpoint == desktop {
		@media (max-width: 112.5em) { @content }; //1800px
	}
}