/*VARIABLES*/
//$text: #9897A1;
$text: #666;
$textLight: lighten($text, 24%);
$textBright: lighten($text, 36%);
$textDark: darken($text, 20%);
$background:#f7f5f1;
$backDark: darken($background, 20%);
$backLight: lighten($background, 20%);
$black: #1f1f1f;
$primary: #00a4df;
$ptrans1: rgba($primary, 0.2);
$ptrans2: rgba($primary, 0.4);
$ptrans3: rgba($primary, 0.6);
$primaryDark: darken($primary, 10%);
$primaryLight: lighten($primary, 46%);
$secondary: #78c255;
$strans1: rgba($secondary, 0.2);
$strans2: rgba($secondary, 0.4);
$strans3: rgba($secondary, 0.6);
$secondaryDark: darken($secondary, 10%);
$secondaryLight: lighten($secondary, 10%);
$accent: #ffee55;
$accentDark: darken($accent, 10%);
$accentLight: lighten($accent, 10%);

$success: green;
$error: red;

$letter-spacing: 0.12rem;

/*BORDER RADIUS*/
$radius: 10rem;

/*FONTS*/
$smallText: 1rem;

/*SPACING*/
$section-padding: 6rem 0;
$section-padding-tablet: 4rem 0;
$section-padding-phone: 2.8rem 0;