/*Customers*/

.customers {
	&__hero {
		@include hero;
		background-image:linear-gradient(180deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('https://firebasestorage.googleapis.com/v0/b/vericool-53dd0.appspot.com/o/Carousel%2Fshutterstock_208368145-min.jpg?alt=media&token=d37ca7a9-6df2-4d0a-a723-21d6a8fb7346');
	}
	&__area {
		&-filter {
			background-color: $background;
			padding:6rem 3rem;
		}
		&-grid {
			display: flex;
			flex-wrap: wrap;
			margin: 6rem 0;
			justify-content: center;
			&-item {
				min-width: 280px;
				max-width: 33.33%;
				.card {
					@include shadow;
					margin:1rem;
					img {
						min-height:auto; 
					}
				}
			}
		}
	}
}