/*Customers*/

.customers {
	&__area {
		&-filter {
			background-color: $background;
			padding:6rem 3rem;
		}
		&-grid {
			display: flex;
			flex-wrap: wrap;
			margin: 6rem 0;
			justify-content: center;
			&-item {
				min-width: 280px;
				max-width: 33.33%;
				.card {
					margin:1rem;
				}
			}
		}
	}
}