/*Distribition*/

.distribution {
	&__hero {
		@include hero;
		background-image:url('https://firebasestorage.googleapis.com/v0/b/vericool-53dd0.appspot.com/o/map.jpg?alt=media&token=080765ae-c46d-4447-b597-dd5c02d99ad0');
	}
	&__main {
		&--image {
			width:100%;
		}
	}
	&__map {
		display: flex;
		&-col-1 {
			flex:3;
		}
		&-col-2 {
			flex:1;
		}
	}
}