.industries {
	@include container;
	padding-top:2rem;
	margin-bottom: 6rem;
	&__grid {
		.item {
			height:auto;
		}
		.card {
	    display: flex;
	    flex-direction: column;
	    //width: 32rem;
	    justify-content: flex-start;
	    transition: all 0.3s;
	    &__body {
	    	text-align:center;
	    	a {
	    		padding:1rem;
	    	}
	    }
	    &:hover {
	    	@include shadow-large;
	    	transform: translateY(-2px);
	    	h4 {
	    		color:$text;
	    		@include magic-fast
	    	}
	    }
	    @include respond(tablet-port) {
	  		width:auto;
	  	}
	    height: 100%;
  		img {
  			width:auto;
  			height:16rem;
  			max-height: 24rem;
  			max-width:100%;
  			padding:0;
  			object-fit: cover;
  		}
  		h4 {
  			font-size: 1.8rem;
  			@include respond(tablet-port) {
		  		font-size: 1.6rem;
		  	}
		    line-height: 1.2;
		    font-weight: 700;
		    margin-bottom: 1rem;
		    text-align: center;
		    color:$textLight;
		    display: inline-block;
  		}
  		p {
  			font-size: 1.2rem;
  		}
  	}
		@include grid-container;
		grid-gap: 2rem;
		grid-template-rows: minmax(min-content, min-content);
		grid-template-columns: 1fr 1fr 1fr 1fr;
		@include respond(tablet-port) {
			grid-template-rows: repeat(1, minmax(24rem, min-content));
			grid-template-columns: 1fr 1fr;
		}
		@include respond(phone) {
			grid-template-rows: repeat(1, minmax(24rem, min-content));
			grid-template-columns: 1fr 1fr;
		}
		// &--item {
		// 	background-color: white;
	 //    overflow: hidden;
	 //    display: flex;
	 //    align-items: center;
	 //    height:auto;
		// 	img {
		// 		min-height:100%;
		// 		width: 100%;
		// 		height: auto;
		// 		object-fit: cover;
		// 	}
		// }
	}
}