.mission {
	&__lead {
		margin: 10rem 0;
		text-align: center;
		&-box {
			width: fit-content;
			border: solid;
			border-image-slice: 1;
  		border-width: 1.6rem;
			border-image-source: linear-gradient(to right, $primary, $secondary);
			padding: 2rem;
			margin:	2rem auto;
			text-align: left;
			max-width: 600px;
		}
		
	}
}