/**BUTTONS**/

.btn, .btn:link, .btn:visited {
	@include button;
	&.btn__large {
		padding: 1rem 2rem;
		font-size: 1.8rem;
	}
	&.btn__primary {
		color:white;
		background-color:$primary;
		transition: all .3s;
		&:hover {
			background-color:$primaryDark;
		}
	}

	&.btn__secondary {
		color:white;
		background-color:$secondary;
		transition: all .3s;
		&:hover {
			background-color:$secondaryDark;
		}
	}

	&.btn__outlined {
		color:$text;
		border: 2px solid $text;
		background-color:transparent;
		&:hover {
			color:white;
			background-color:$text;
			border: 2px solid $text;
		}
	}

	&.btn__ghost {
		color:white;
		border: 2px solid white;
		background-color:transparent;
		&:hover {
			color:$primaryDark;
			background-color:white;
			border: 2px solid white;
		}
	}
}
//.btn:hover {
//	box-shadow: 0 1rem 3rem -.6rem rgba(0,0,0,.4);
//}