/**BUTTONS**/

.btn, .btn:link, .btn:visited {
	@include button;
	&.btn__large {
		padding: 1rem 2rem;
		font-size: 1.6rem;
	}
	&.btn__primary {
		color:white;
		background:$primary;
		transition: background .2s ease-in;
		&:hover {
			background-color:$primaryDark;
			//background:linear-gradient(to right, $primary, $secondary);
		}
	}

	&.btn__grow {
		//font-weight:700;
		font-size: 2.4rem;
		padding:0;
		.hov {
			@include magic;
		}
		// &:hover {
		// 	.hov {
		// 		@include magic-fast;
		// 	}
		// }
	}

	&.btn__secondary {
		color:white;
		background-color:$secondary;
		transition: all .3s;
		&:hover {
			background-color:$secondaryDark;
		}
	}

	&.btn__outlined {
		color:$text;
		border: 2px solid $text;
		background-color:transparent;
		&:hover {
			color:white;
			background-color:$text;
			border: 2px solid $text;
		}
	}

	&.btn__ghost {
		color:white;
		border: 2px solid white;
		background-color:transparent;
		&:hover {
			color:$primaryDark;
			background-color:white;
			border: 2px solid white;
		}
	}
}
//.btn:hover {
//	box-shadow: 0 1rem 3rem -.6rem rgba(0,0,0,.4);
//}


.product__buttons {
	display: flex;
  justify-content: space-around;
  margin:6rem auto;
  flex-wrap: wrap;
  @include respond(phone) {margin:1rem auto;}
	&--item {
		display: inline-block;
		@include respond(phone) {display: block; width:100%; text-align: center;}
		&--btn {
			@include magic;
			//background-image: radial-gradient(circle, $secondaryTrans, $secondaryTrans 100%, transparent 100%);
	    //height: 20rem !important;
	    //width: 20rem !important;
	    font-size: 4rem;
	    line-height: 0.24;
	    position:relative;
	    transition: all 0.4s;
	    //border-radius: 50%;
	    @include respond(phone) {
	    	font-size: 3rem;
	    	//height: 12rem !important;
	    	//width: 12rem !important;
	    	width:auto;
	    	margin: 1.2rem auto;
	    }
	    text-align: center;
	    .fad {
	    	position: absolute;
    		bottom: -2rem;
    		transform: rotate(-30deg);
    		right: -2rem;
    		opacity: 0;
    		transition: all 0.6s;
    		@include respond(tablet-port) {
    			bottom: 1rem;
    			right:1rem;
    		}
    		@include respond(phone) {
    			bottom: 0;
    			right:0;
    		}
	    }
	    &:hover {
				.fad {opacity: 1;}
				transform: translateY(-2px);
				//@include shadow;
				//transform: scale(1.04);
			}
		}
	}
}