/*Elements*/

.container {
	@include container;
}

.container-small {
	@include container;
	max-width:900px;
}

.iconmark {
	@include icon-mark;
	background-size:contain;
	height: 40vh;
	width: 40vh;
}

.page {
	min-height: calc(100vh - 16rem);
}
.line {
	border-bottom: 4px solid;
	border-color: $ptrans1;
	width:40%;
	max-width: 12rem;
	margin: 1rem auto;
}

.vc-bar {
	display: block;
	height: 0.6rem;
	background-image: linear-gradient(to right, $primary, $secondary);
	opacity: 0.4;
}

div [class$="__lead-text"] {
	h1 {
		background-image:linear-gradient(to right, $primary, $secondary);
		display: inline-block;
		-webkit-background-clip:text;
		color:transparent;
	}
}

div [class$="__hero-text"] {
	h1 {
		font-size:8rem;
	}
}

div [class$="__lead"] {
  margin: 8rem 0 0 0;
	text-align: center;
}
div [class$="__lead-box"] {
	width: fit-content;
	border: solid;
	border-image-slice: 1;
	border-width: 2.4rem;
	border-image-source: linear-gradient(to right, $primary, $secondary);
	padding: 2rem;
	margin:	3rem auto;
	text-align: left;
	max-width: 720px;
}

div [class$="__body"] {
	margin-bottom:10rem;
	margin-top: 6rem;
}

div [class$="__body-row"] {
	display: flex;
	flex-wrap: wrap;
	padding:0 2rem;
	.item {
		flex: 1;
		min-height: 20vh;
		min-width: 280px;
		&.background {
			text-align: left;
			h3 {
				text-align:center;
			}
		}
		&:not(.background) {
			img {
				width: 100%;
				height: 100%;
    		object-fit: cover;
			}
		}
		&__text {
			padding:3rem;
		}
	}
}