/*Footer*/

.footer {
	background-color: $background;
	background-image:linear-gradient(180deg, rgba(255,255,255,1), rgba(255,255,255,0)), url('https://firebasestorage.googleapis.com/v0/b/vericool-53dd0.appspot.com/o/AdobeStock_49449461-min.jpeg?alt=media&token=09c04bbc-b325-4614-9de1-ccbb12756102');
	background-position:center center;
	background-size:cover;
	background-repeat:no-repeat;
	
	padding:12rem 2rem 4rem 2rem;
	color:$textDark !important;
	&__container {
		@include container;
  	display: flex;
	  align-items: flex-start;
	  justify-content: space-between;
	  &--logo {
	  	width:90%;
	  	max-width: 30rem;
	  	margin-bottom: 1rem;
	  	filter:brightness(0);
	  	opacity: 0.9;
	  }
	  &--social {
	  	display: inline-block !important;
	  	color:$primary !important;
	  	transition: all 0.3s;
	  	&:hover {
	  		color:$primaryDark !important;
	  	}
	  }
	  &--item {
	  	h3 {
	  		color:$textDark !important;
	  	}
	  	a {
	  		display: block;
	  		font-size: 1.2rem;
	  		font-weight: 500;
    		margin-bottom: 2px;
    		color:$textDark;
    		button {
    			background: transparent;
    			color:$textDark;
    		}
    		&:hover {
    			button {
	    			font-weight: 700;
	    		}
    		}
	  	}
	  }
  }
	.wrapper {
		padding:12rem 2rem 2rem 2rem;
		@include respond(phone) {
			padding:16rem 2rem 2rem 2rem;
		}
		flex-direction: row;
		display: flex;
		flex-wrap: wrap;
		.col {
			flex:1;
			flex-direction: column;
		}
	}
	&__legal {
		text-align: center;
		padding-top: 2rem;
	}
	&__logo {
		height:2.2rem;
	}
}