.lead__form {
	.col-1 {
		width: 48%;
		min-width: 26rem;
		@include respond(tablet-port) {
			width:100%;
			padding-bottom: 3rem;
		}
	}
	.col-2 {
		width: 48%;
		min-width: 26rem;
		@include respond(tablet-port) {
			width:100%;
		}
	}
}