.item {
	.bg-video {
		height: 40vh;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 0;
		background:black;
		&__content {
			width: 100%;
			object-fit: cover;
			opacity: 0.82;
			display:block;
			min-height: 100%;
			&--sm {
				display:block;
				min-height:100%;
				object-fit: cover;
				object-position: center center;
			}
		}
	}
}

.bg-video-small {
	height: calc(72vh);
	@include respond(phone) {height: calc(40vh);}
	width: 100%;
	top: 0;
	left: 0;
	z-index: 0;
	//background: black;
	//background: linear-gradient(180deg, black, grey, black);
	/*border-bottom: solid;
	border-image-slice: 1;
	border-width: 1.2rem;
	border-image-source: linear-gradient(to right, $primary, $secondary);*/
	z-index: 0;
		&__content {
			height: calc(72vh);
			@include respond(phone) {height: calc(40vh);}
			width: 100%;
			object-fit: cover;
			//opacity: 0.82;
			object-position: center center;
			
		}
		&-text {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
		text-align: center;
		color: white;
		font-size: 9vw;
			h1 {
			@include respond(desktop) {
		  	font-size: 7vw;
		  }
			@include respond(tablet-land) {
		  	font-size: 8vw;
		  }
		  @include respond(phone) {
		  	font-size: 9vw;
		  }
		  line-height: 1;
		  font-weight: 700;
		  text-transform: uppercase;
		  //margin-bottom: 0.6rem;
		  letter-spacing: .024em;
		  //transform: skewY(-8deg);
		  //font-style: oblique;
		  
		}
	}
}

.home__video {
	position: relative;
	height:100vh;
	width:100vw;
	.bg-video {
		height: 100vh;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 0;
		background:black;
		&__content {
			height: 100vh;
			width: 100%;
			object-fit: cover;
			opacity: 0.82;
			display:block;
		}
	}
}

.video-wrapper {
	position: relative;
  padding-bottom: 46.25%;
  height: 0;
	&__content {
		position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	}
}

.video-responsive{
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  .fad {
  	font-size: 8vw;
  	filter: brightness(5);
  	position: absolute;
		left: 50%;
		top:50%;
		transform: translate(-50%, -50%);
  }
}
.video-responsive iframe{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

